class Forja < Formula
  desc "Skills marketplace CLI for Claude Code"
  homepage "https://github.com/dmend3z/forja"
  version "@@VERSION@@"
  license "MIT"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/dmend3z/forja/releases/download/v#{version}/forja-darwin-arm64.tar.gz"
      sha256 "@@SHA256_DARWIN_ARM64@@"
    else
      url "https://github.com/dmend3z/forja/releases/download/v#{version}/forja-darwin-x64.tar.gz"
      sha256 "@@SHA256_DARWIN_X64@@"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "https://github.com/dmend3z/forja/releases/download/v#{version}/forja-linux-arm64.tar.gz"
      sha256 "@@SHA256_LINUX_ARM64@@"
    else
      url "https://github.com/dmend3z/forja/releases/download/v#{version}/forja-linux-x64.tar.gz"
      sha256 "@@SHA256_LINUX_X64@@"
    end
  end

  def install
    bin.install "forja"
  end

  test do
    assert_match "forja", shell_output("#{bin}/forja --version")
  end
end
